@charset "utf-8";

#kamyon{

background-color: rgb(255, 255, 255);
width: 1200px;
margin-left: auto;
margin-right: auto;

}
#logo{
background-color: white;
width: 300px;
margin-left: auto;
margin-right: auto;
height: auto;
margin-bottom: 40px;
}
#logo2{
 
    background-color: white;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: auto;

}
#box {
    max-width: 300px;
    position: relative;
    float: left;
}
 
#box .fa-search {
    position: absolute;
    top: 14px;
    left: 12px;
    font-size: 20px;
    color:cornflowerblue;
}
.kesik-cizgili-cerceve{
	width: 400px;
	height: 20px;

	border:1px dashed #000;
}
#logo3
{
    margin-top: 20px;
    background-color: white;
   
    width: 1000px;
    height: 200px;
    text-align: center;
}
#footer
{
margin-top: 150px;
background-color: white;
width: 1150px;
margin-left: auto;
margin-right: auto;

}
.kesik-cizgili-cercever{
	width: 1150px;
	height: 20px;

	border:1px dashed #000;}